.layoutFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: @spacing-sm;

    .footerMenu {
        padding-left: @spacing-sm;
        background-color: @layout-footer-background;

        a {
            color: @black-80-opacity;
            font-size: @fontSize-m;
            font-weight: 700;
            text-transform: uppercase;

            &:hover {
                color: @primary-color;
            }
        }
    }

    .platformVersion {
        color: @black-60-opacity;
        font-size: @fontSize-s;
        white-space: nowrap;
    }
}
