.root {
    width: 100%;
}

.label {
    color: var(--admin-form-field-text, var(--m3-on-surface, #1b1b1c));
    font-family: var(--m3-body-font-family);

    &:global(.MuiFormLabel-root.Mui-disabled) {
        color: var(--admin-form-field-text, var(--m3-on-surface, #1b1b1c));
    }
}

.group {
    margin-top: 24px;
}

.option {
    font-family: var(--m3-body-font-family);

    :global(.MuiFormControlLabel-label) {
        font-size: 16px;
        color: var(--admin-form-field-text);
    }
}

.disabled {
    cursor: not-allowed;

    :global(.MuiRadio-root) {
        opacity: 0.5;
    }
}
