.input {
    composes: input from '../FormFields/styles.module.scss';
}

.item {
    composes: item from '../FormFields/styles.module.scss';
}

.disabled {
    composes: disabled from '../FormFields/styles.module.scss';
}

.withAddon {
    &.disabled {
        .input {
            border-color: var(--input-disabled-border-color);
            background: var(--input-disabled-bg);
            color: var(--input-disabled-color);
        }
    }
}

.item :global(.ant-form-item-label) {
    display: inline-flex !important;
    width: auto !important;
    height: 16px !important;
    align-items: center;
    line-height: 16px !important;
    overflow: visible !important;
    padding-bottom: 0;
    white-space: nowrap;
}

.item :global(label) {
    display: inline-flex;
    height: 16px;
    align-items: center;
}
