.textarea {
    composes: input from '../FormFields/styles.module.scss';

    height: auto;
    min-height: 112px;
    padding: 16px;
    overflow: auto;
    overflow-wrap: anywhere;
    resize: vertical;
    text-overflow: clip;
    white-space: pre-wrap;
}

.item {
    composes: item from '../FormFields/styles.module.scss';
}

.disabled {
    composes: disabled from '../FormFields/styles.module.scss';
}

.item :global(.ant-form-item-label) {
    padding-bottom: 0;
}

.item :global(label) {
    height: 16px;
}
