.content {
    height: 100vh;
    overflow: auto;
    background: #f0edee;

    :global(.ant-layout-content) {
        background: #f0edee;
    }
}

.mainContent {
    background: #f0edee;

    :global(.ant-layout) {
        background: #f0edee;
    }
}
