.radioGroup {
    :global(label) {
        font-family: Nunito, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: rgb(0 0 0 / 90%);
        height: auto !important;
    }

    :global(.ant-form-item-control) {
        margin-top: 8px;
    }
}

.createConsultant {
    margin: -8px 0 24px;
}

.warning:global(.ant-alert.ant-alert-warning) {
    padding: 14px 16px;

    & + div {
        margin-top: 24px;
    }
}
