.input {
}

.input :global(.ant-input-number-input) {
    height: 54px;
    padding: 0;
    color: var(--m3-on-surface);
    font-family: var(--m3-body-font-family);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 24px;
}

.input:global(.ant-input-number-focused) {
    border-color: var(--input-active-border-color);
    box-shadow: 0 0 0 1px var(--input-active-border-color) inset;
    outline: none;
}
