.heading {
    margin: 8px 0 12px;
}

.title {
    margin: 0;
    color: #1d1b20;
    font-size: 14px;
    font-weight: 500;
}

.help {
    margin: 4px 0 0;
    color: rgb(68 71 72 / 80%);
    font-size: 12px;
}
