.checkGroup {
    margin-bottom: 16px;
}

.subCheckGroup {
    margin-bottom: 16px;
    margin-left: 24px;
    padding-left: 12px;
    border-left: 2px solid rgba(0, 0, 0, 0.06);
}

.checkInfo {
    width: calc(100% - 71px);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--black-60);
}

