.table {
    :global {
        .ant-table {
            background: var(--m3-table-row-background);
        }

        .ant-table-thead > tr > th {
            background: var(--m3-table-header-background);
        }

        .ant-table-tbody > tr > td {
            background: var(--m3-table-row-background);
        }

        .ant-table-tbody > tr:hover > td {
            background: var(--m3-table-hover-background);
        }

        .ant-table-body {
            overflow: auto !important;
        }

        tr {
            .statusIconWrapper {
                display: flex;
                justify-content: center;

                &.IN_PROGRESS {
                    color: var(--info-color);
                }

                &.ERROR {
                    color: var(--form-error);
                }

                &.CREATED {
                    color: var(--success-color);
                }

                svg {
                    width: 24px;
                    height: 24px;
                }
            }
        }

        .tableActionWrapper {
            display: flex;
            flex-direction: row;
            gap: var(--spacing-sm);
            justify-content: flex-end;
        }

        .editBtnWrapper,
        .statusIconWrapper {
            display: inline-flex;
            flex-direction: row;
            gap: var(--spacing-sm);
        }

        .editIcon {
            border: none;
            background: transparent;
            cursor: pointer;

            svg {
                width: 24px;
                height: 24px;
            }
        }

        .editIcon.disabled {
            border: none;
            background: transparent;

            svg {
                width: 24px;
                height: 24px;
            }

            path {
                fill: gray;
            }
        }

        .ant-table-sticky-scroll {
            display: none;
        }
    }
}
