.mainTenant {
    height: 16px;
    margin-left: 8px;
    background-color: #0a882f;
    border-radius: 30px;
    color: white;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    border: none;
}

.searchContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 638px;
    min-width: 0;
    gap: 24px;
}

.searchField {
    flex: 0 1 499px;
    width: 100%;
    max-width: 499px;
    min-width: 0;
}

.subdomain {
    text-decoration: underline;
}

.emailsContainer {
    display: flex;
    flex-direction: column;
}
